@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body, html {
  --main-font: 'Open Sans', Sans-serif;
  --base-font-size: 14px;
  --primary-blue: #009ad6;
  --text-dark-grey: #3b3f4a;
  --text-light-grey: #8b98ab;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-size: var(--base-font-size);
  min-width: 1280px;
}